.container {
  display: flex;
  border: 1px red;
  flex-direction: row;
  background-color: rgb(247, 244, 47);
  justify-content: flex-end;
}
.container::after {
  background-color: brown;
}
div :nth-of-type(.child1) {
  background-color: rgb(233, 105, 233);
}
.child1 {
  border: 1px dotted rgb(149, 39, 39);
  /* height: 50px;
  width: 50px; */
  background-color: #f39268;
}
.child2 {
  border: 1px dotted rgb(21, 28, 162);
  /* height: 50px;
  width: 50px; */
  background-color: #f39268;
}
.child3 {
  border: 1px dotted rgb(210, 15, 164);
  /* height: 50px;
  width: 50px; */
  background-color: #f39268;
}
.child4 {
  border: 1px dotted rgb(1, 128, 220);
  /* height: 50px;
  width: 50px; */
  background-color: #f39268;
}
